extends ../layouts/main-layout.pug
block styles 
block content
    main 
        h3 Shop
        if prods.length > 0 
            .cards 
                each product in prods 
                    .card 
                        h3 #{product.title}
                        p  
                            img(src=product.imageUrl, alt=product.imageUrl)
                        p #{product.price}
                        p #{product.description} 
                        .card_actions
                            a(href=("/products/" + product.id), class="btn") Details
                            form(action="/cart", method="post")
                                button(type="submit", class='btn') Add to cart
                                input(type="hidden", name="productId", value=product.id)
        else 
            h3 No products added yet! 